version: "3.9"

services:
  backend:
    build: ./backend
    container_name: techfiesta-backend
    ports:
      - "4000:4000"   
      - "8000:8000"   
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: techfiesta-frontend
    ports:
      - "3000:80" 
    depends_on:
      - backend
    restart: unless-stopped
