fastapi==0.111.0
uvicorn[standard]==0.30.1
faster-whisper==1.0.3
transformers>=4.41.0
torch>=2.3.0
ffmpeg-python==0.2.0
# Nightly yt-dlp for YouTube fixes
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git@master
pymupdf>=1.24.0
numpy>=1.26.0
# Pinning these 3 is critical to stop the error:
langchain==0.2.6
langchain-community==0.2.6
langchain-huggingface==0.0.3
sentence-transformers>=3.0.0
faiss-cpu>=1.8.0
openai>=1.35.0
accelerate>=0.31.0
python-docx
python-pptx
pymupdf
numpy